{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback({{line_chart.as_html}});
    </script>
    <script src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'feedback/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'feedback/css/font-awesome.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'feedback/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/js/jquery.bxslider/jquery.bxslider.css' %}" rel="stylesheet">
<link href="{% static 'feedback/css/colorbox.css' %}" rel="stylesheet">

    <link href="{% static 'feedback/css/style.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'feedback/css/bootstrap.css' %}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand " href="#page-top">Customer Feedback System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
                                                                         {% if user.is_authenticated %}
     <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

          </ul>
        </div>
      </div>
    </nav>

<!-- Navigation -->
   {% block content %}
{% endblock content %}

{% block footer %}

 <footer class="py-5 bg-success">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Customer Feedback System 2021. All Rights Reserved</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'feedback/js/jquery.min.js' %}"></script>
    <script src="{% static 'feedback/js/popper.min.js' %}"></script>
    <script src="{% static 'feedback/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'feedback/js/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'feedback/js/jackmoore-colorbox-0662982/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'feedback/js/app.js' %}"></script>

{% endblock %}

</body>
</html>